*{
    margin: 0;
}

body{
    min-height: 100vh;
    background-color: hsl(226, 43%, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

.app{
    flex: 0.65;
    height: 55vh;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: 2fr 2fr;
    gap: 20px;
}

.profile{
    /* border: 2px solid white; */
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.innerProfile{
    height: 70%;
    /* width: 100%; */
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
    display: flex;
}

.profileContainer{
    margin: 20px;
    /* border: 2px solid white; */
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
}

.profilePicture > img{
    height: 75px;
    width: 75px;
    border-radius: 200px;
    border: 3px solid white;
}

.profileDetails{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.profileDetails > h1{
    font-weight: 300;
    color: white;
}

.profileOptions{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-inline-start: 50px;
    font-family: 'Rubik', sans-serif;
    color: hsl(236, 100%, 87%);
}

.profileOptions > p{
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
}

.profileOptions > p:hover{
    color: white
}


.nonprofile{
    /* border: 2px solid white; */
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -8%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.work{
    background-image: url("/images/icon-work.svg");
    background-color: hsl(15, 100%, 70%);
}

.nonProfileInside{
    height: 75%;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    width: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
}
